:root {
  --primaryColor: #ffc62e;
  --secondaryColor: #ffeb8c;
}
body {
  flex-direction: column;
  padding: 15px;
  gap: 5vw;
  font-family: monospace;
}
h1 {
  margin: 0;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
#main_container {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 5vw;
}
.info {
  flex-direction: column;
  flex: 1;
  overflow: auto;
  gap: 10px;
}
.up_section {
  gap: 10px;
  justify-content: space-between;
}
.book {
  padding: 10%;
  gap: 10px;
  border-radius: 15px;
  background-color: var(--primaryColor);
  flex-direction: column;
}
button {
  font-family: monospace;
  background-color: var(--primaryColor);
  border-radius: 30px;
  padding: 20px;
  border: 0;
}
#open_dialog {
  font-size: larger;
}
.buttons {
  justify-content: space-between;
  align-items: center;
}
.buttons button {
  width: 45%;
  font-size: medium;
}
#cancel {
  background-color: lightgray;
}
#cancel:hover {
  background-color: rgb(235, 235, 235);
}
button:hover {
  background-color: var(--secondaryColor);
}
dialog {
  border: 0;
  width: 50vw;
  border-radius: 20px;
}
form {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
input {
  padding: 10px;
  font-family: monospace;
  border-radius: 10px;
}
input::placeholder {
  font-style: italic;
}
input:focus {
  outline: none;
  border: 3px solid var(--secondaryColor);
}
input:valid {
  outline: none;
  border: 3px solid lightgreen;
}
button:focus {
  outline: none;
  border: 2px solid lightblue;
}
.title,
.author {
  margin: 0;
}
.title {
  font-size: x-large;
}
.author {
  font-size: medium;
}
.remove_btn {
  align-self: flex-end;
  width: 50%;
  color: white;
  background-color: tomato;
}
.remove_btn:hover {
  background-color: lightcoral;
}
.read_btn {
  width: 50%;
  background-color: var(--secondaryColor);
}
.read_btn:hover {
  background-color: lightyellow;
}
